html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: white; }

body {
  background-color: #202324; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A1A1C;
  padding: 0px 5%; }
  header img {
    width: 210px;
    padding-right: 40px; }
  header nav {
    padding-top: 20px;
    padding-bottom: 20px; }
    header nav div a {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.5rem;
      color: white; }
      header nav div a:hover {
        color: #A60303; }

.nav_item_2 {
  border: 2px solid #A60303;
  padding-top: 13px;
  padding-bottom: 13px; }

.spam div {
  position: absolute;
  top: 30%;
  left: 10%; }
  .spam div h2 {
    text-transform: uppercase;
    font-size: 7rem;
    width: 50%;
    color: white; }
    .spam div h2 strong {
      color: #BF0413; }
  .spam div h3 {
    margin-top: 10px;
    color: white;
    font-size: 1.5rem; }

.spam img {
  width: 100vw;
  height: 70vh;
  object-fit: cover; }

.fondo {
  background: #ac0000;
  background: linear-gradient(0deg, #ac0000 0%, black 100%); }

.presentacion {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px; }
  .presentacion h2 {
    display: inline;
    font-size: 2rem;
    border-bottom: solid 2px #BF0413; }
  .presentacion h3 {
    display: inline;
    color: #BF0413;
    font-size: 2rem; }

#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #contenedor-productos div {
    margin: 0 20px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 500px;
    box-sizing: content-box; }
    #contenedor-productos div:hover {
      box-shadow: 2px 2px 15px #BF0413; }
    #contenedor-productos div img {
      width: 250px;
      margin: 0 auto;
      margin-bottom: 20px; }
    #contenedor-productos div h2 {
      text-align: center;
      width: 250px;
      margin: 0 auto;
      border: none;
      font-size: 1.5rem; }
    #contenedor-productos div h3 {
      font-size: 3rem;
      margin-top: 40px;
      text-align: center;
      border: none; }

.boton_add {
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d63946;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 1.2rem; }

#boton-carrito {
  background-color: red; }

#productos-contenedor {
  display: flex; }

.modal-contenedor {
  background-color: #d63946;
  position: absolute;
  top: 10.5%;
  right: 5%;
  width: 385px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.productoEnCarrito {
  margin: 0 auto; }
  .productoEnCarrito div {
    display: flex;
    justify-content: center; }
    .productoEnCarrito div img {
      width: 100px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px; }
    .productoEnCarrito div button {
      width: 50px;
      height: 50px;
      margin: auto;
      margin-left: 10px;
      border: none;
      background-color: gray; }
    .productoEnCarrito div div {
      flex-direction: column; }
      .productoEnCarrito div div h2 {
        font-size: 1.6rem;
        width: 200px;
        border: none;
        margin-bottom: 10px; }
      .productoEnCarrito div div h3 {
        font-size: 1.5rem;
        width: 100px;
        color: white; }

#cerrar {
  background-color: #fff;
  color: #d63946;
  margin-bottom: 20px;
  margin-top: 20px; }

@media screen and (min-width: 480px) and (max-width: 1300px) {
  .nav_item {
    display: none; } }
