<section>
<img src="../assets/img/logo.png" alt="">
<h1>INGRESE SU PRODUCTO</h1>
<form id="productForm" >
      <input id="nameProduct" type="text" name="name" placeholder="Nombre del producto..." required>
      <input id="price" type="text" name="price" placeholder="Precio del producto..." required>
      <input id="imgUrl" type="text" name="thumbnail" placeholder="Pegar url de la imagen..." required>
      <button>Enviar</button>
</form>
<h1 class="titleProducts">PRODUCTOS</h1>
<div class="titles">
      
      <span>Nombre</span>
      <span>Precio</span>
      <span>Imagen</span>
</div>
<ul id="listProducts">

</ul>
</section>
<section>
<h2>FORO DE AYUDA</h2>
<form id="messageForm">
     <div class="messageHelp">
            <input id="email" type="email" name="name" placeholder="Email..." required>
            
            <input id="message" type="text" name="price" placeholder="Mensaje..." required>
            <button>Enviar</button>
     </div>
      <ul id="listMessage">
      </ul>
</form>

</section>
