<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="shortcut icon" href="../../assets/img/logo.png" type="image/x-icon">
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../js/listaProductos.js" defer></script>
    <script type="module" src="../../js/chat.js" defer></script>
    <title>Tienda Gamer</title>
</head>
<body>
    <div>
      {{{body}}}
    </div>
</body>
</html>