<div class="container">
    <h1 class="text-center mb-4">Agregar Productos</h1>
    <form class="d-flex flex-column align-items-center justify-content-center" id="addForm" >
        <input class="mb-3 w-50 p-3" required type="text" id="productTitle" placeholder="Titulo del producto" name="nombre">
        <input class="mb-3 w-50 p-3" required type="number" id="productPrice" placeholder="Precio del producto" name="precio">
        <input class="mb-3 w-50 p-3" type="text" id="productImg" placeholder="URL de la imagen del producto" name="url">
        <button class="mb-3 w-50 p-3 btn btn-primary" id="agregarBtn">Agregar</button>
    </form>
</div>

<div>
    <h1 class="text-center mb-4">Lista de productos</h1>
        <div class="d-flex align-items-center justify-content-center border-bottom">
            <div class="container row">
                <div class="col d-flex align-items-center justify-content-center">
                    Nombre
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    Precio
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    Imagen
                </div>
            </div>
        </div>

            <div class="container border-bottom">
                <div class="row" id="list">
                    
                </div>
            </div>

    <a class="d-flex align-items-center justify-content-center" href="./productos">
    </a>
</div>

<div class="container d-flex flex-column align-items-center justify-content-center">
    <h2 class="text-center">Chat</h2>
    <div class="container m-3 d-flex flex-column align-items-center justify-content-center" id="chat"></div>
    <input class="mb-3 w-50 p-3" type="email" id="emailInput" placeholder="Tu Email" name="emailInput" required>
    <textarea class="mb-3 w-50 p-3 required" id="mensaje" placeholder="Tu Mensaje"></textarea>
    <button type='button' class='btn btn-primary mb-3 w-50 p-3' id="enviar">Enviar</button>
</div>

<script src="main.js"></script>